[Unit]
Description=ddnsc
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/python /usr/share/ddnsc/ddnsc.py
Environment=PYTHONUNBUFFERED=1
RestartSec=10
Restart=on-failure
Type=notify

[Install]
WantedBy=default.target